.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

@media screen and (orientation: landscape) and (max-height: 450px) {
    .container {
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 3rem;
    }
}

.username-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

button {
    padding: 1.5rem;
    border-radius: 0;
    color: white;
    width: min(25rem, 100%);
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 0;
    transition: 0.25s;
    background-image: -webkit-linear-gradient(#1b6ec2, #26b050);
}

button:disabled {
    opacity: 0.6;
}

button:disabled:hover {
    cursor: wait;
}

button:not(:disabled):hover {
    box-shadow: 0.5rem 0.5rem 0.5rem 0 #000;
    cursor: pointer;
}

button:active {
    box-shadow: 0.2rem 0.2rem 0.2rem 0 #000;
    cursor: pointer;
}

.username-text {
    /* !important is needed to override the inline background-image property */
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

.message-label:empty {
    display: none;
}

.message-label:not(:empty) {
    font-style: italic;
    font-size: 1.25rem;
    opacity: 0.5;
}

.filter-controls {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

input[type="number"] {
    background-color: initial;
    border: thin solid var(--color-text);
    color: var(--color-text);
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.25rem;
    width: 100%;
    text-align: start;
}

input[type="number"]:disabled {
    background-color: rgba(255, 255, 255, 0.2);
    border: thin solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
}


label {
    font-size: 1.25rem;
}

.form-combo {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 0.5rem;
}

.form-checkbox-label {
    width: 100%;
}

.username-loading-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.username-loading-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}