@page "/"
@using UsernameGenerator.Core
@inject HttpClient Http;

<PageTitle>Username Generator App</PageTitle>

@if (service != null)
{
    <main>
        <span class="username-text" style="background: -webkit-linear-gradient(@randomColorOne, @randomColorTwo);">
            @username
        </span>

        <button disabled="@isLoadingData" @onclick="async () => await GetNewUsername()">
            Generate New Username
        </button>


        <span style="font-style: italic; transition: 0.1s;">@errorMessage</span>

        <div>
            <section class="form-combo">
                <label for="numberOfLettersInput">Letters</label>
                <input id="numberOfLettersInput" type="number" min="2" max="21" @bind="usernameLength" placeholder="Number of Letters"/>
            </section>
            <section class="form-combo">
                <label for="firstWordSyllableCountInput">Word 1 Syllable Count</label>
                <input id="firstWordSyllableCountInput" type="number" min="1" max="4" @bind="firstWordSyllableCount" placeholder="Number of Syllables"/>
            </section>
            <section class="form-combo">
                <label for="secondWordSyllableCountInput">Word 2 Syllable Count</label>
                <input id="secondWordSyllableCountInput" type="number" min="1" max="4" @bind="secondWordSyllableCount" placeholder="Number of Syllables"/>
            </section>
        </div>
    </main>
}
else
{
    <div class="username-loading-container">
        <div class="username-loading-area">
            @* Loading Animation *@
            <span>Loading username data...</span>
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
}


@code {
    string? username;
    bool isLoadingData;
    string errorMessage = "";
    byte usernameLength = 9;
    byte firstWordSyllableCount = 1;
    byte secondWordSyllableCount = 1;

    UsernameGeneratorService? service;
    string randomColorOne = "#FFFFFF";
    string randomColorTwo = "#FFFFFF";

    protected override async Task OnInitializedAsync()
    {
        service = new UsernameGeneratorService(await Http.GetFromJsonAsync<Word[]>("_appdata/words-and-syllables.json"));
    }

    async Task GetNewUsername()
    {
        if (service == null)
            return;

        try
        {
            errorMessage = "";
            isLoadingData = true;
            await Task.Delay(100);
            username = service.GetNewCombination(usernameLength, firstWordSyllableCount, secondWordSyllableCount);
            GenerateRandomTextColors();
        }
        catch (TimeoutException ex)
        {
            errorMessage = ex.Message;
        }
        isLoadingData = false;
    }

    void GenerateRandomTextColors()
    {
        randomColorOne = $"#{new Random().Next(0x1000000):X6}";
        randomColorTwo = $"#{new Random().Next(0x1000000):X6}";
        StateHasChanged();
    }

}