button {
    padding: 1rem;
    border-radius: 0px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: white;
    border: 1px;
    transition: 0.25s;
    background-image: -webkit-linear-gradient(#1b6ec2,#26b050);
}

button:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem 0 #000;
    cursor: pointer;
}

button:active {
    box-shadow: 0.2rem 0.2rem 0.2rem 0 #000;
    cursor: pointer;
}

input[type="number"] {
    background-color: initial;
    border: thin solid var(--color-text);
    color: var(--color-text);
    font-weight: bold;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.25rem;
    width: 3rem;
    text-align: center;
}

label {
    font-size: 1.25rem;
    font-weight: bold;
}

.form-combo {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: row-reverse;
    margin-top: auto;    
    align-items: center;
    gap: 0.5rem;
}

.header-bar {
    position: absolute;
    top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header-bar * {
    margin: 0;
    padding: 0 2rem;
}