@inherits LayoutComponentBase

<header>
    <h2>Username Generator App</h2>
        <a href="https://github.com/gridlocdev/UsernameGenerator" target="_blank"
           style="display: flex; justify-content: center; align-items: center; gap: 0.5rem;">
            <span>Github</span>
            <img src="github-mark-white.svg" alt="GitHub Logo" width="24" height="24"/>
        </a>
</header>

<main>
    @Body
</main>